<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SmartRoom365 - Dashboard</title>
	<link rel="manifest" href="./manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ios-icon2.png">
	<link rel="icon" href="/assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="The dashboard for BrainCode">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="./main.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow {{fixedHeader}} {{fixedSidebar}} {{fixedFooter}}">

    {{>header}}

    <div class="app-main">

        {{>sidemenu}}

        <div class="app-main__outer">

            <!--        Search list-->


            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-diamond icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>365
                                <div class="page-title-subheading">Best room in Alkatraz
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Content-->
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Temperature</div>
                                    <div class="widget-subheading">The outside temperature in Warsaw</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span id="weatherWidgetTemperature" class="d-none"></span></div>
                                    <div class="spinner-grow" role="status" id="weatherWidgetTemperatureSpinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-midnight-bloom">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Weather conditions</div>
                                    <div class="widget-subheading d-none d-sm-block">The weather conditions for Warsaw</div>
                                </div>
                                <div class="widget-content-right">
                                    <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="Weather img" height="40px" id="weatherWidgetImage" class="d-none">
                                    <div class="spinner-grow text-black-50" role="status" id="weatherWidgetImageSpinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <h5>Light control</h5>

                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card mb-3 widget-content bg-amy-crisp">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Top Light 1</div>
                                    <div class="widget-subheading d-none d-sm-block">Turn on and off the top light</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="spinner-grow text-black-50 light-status-spinners" role="status" id="lightControll0Spinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-lightbulb d-none" style="font-size: 50px; cursor:pointer;" id="lightControll0" onclick="changeTheLightStatus(0)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-amy-crisp">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Top Light 2</div>
                                    <div class="widget-subheading d-none d-sm-block">Turn on and off the top light</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="spinner-grow text-black-50 light-status-spinners" role="status" id="lightControll1Spinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-lightbulb d-none" style="font-size: 50px; cursor:pointer;" id="lightControll1" onclick="changeTheLightStatus(1)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-amy-crisp">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Kitchen Light</div>
                                    <div class="widget-subheading d-none d-sm-block">Turn on and off the kitchen light</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="spinner-grow text-black-50 light-status-spinners" role="status" id="lightControll2Spinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-lightbulb d-none" style="font-size: 50px; cursor:pointer;" id="lightControll2" onclick="changeTheLightStatus(2)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12">
                        <div class="card mb-3 widget-content bg-amy-crisp">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Bed Light</div>
                                    <div class="widget-subheading d-none d-sm-block">Turn on and off the bed light</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="spinner-grow text-black-50 light-status-spinners" role="status" id="lightControll3Spinner">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-lightbulb d-none" style="font-size: 50px; cursor:pointer;" id="lightControll3" onclick="changeTheLightStatus(3)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{>footer}}

        </div>
    </div>
</div>
<!--<script-->
<!--        src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="./assets/scripts/main.js"></script>
</body>
<script src="./assets/scripts/notifications.js"></script>
<script src="./assets/scripts/search.js"></script>
<script src="./assets/scripts/dashboard.js"></script>
</html>
